<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="su.zzz.listtypes">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ListViewStringArrayActivity"
            android:label="@string/listview_stringarray" />
        <activity
            android:name=".Type2ListViewClassActivity"
            android:label="@string/listview_class" />
        <activity
            android:name=".Type3ListViewDatabaseActivity"
            android:label="@string/listview_database" />
        <activity
            android:name=".Type4RecyclerViewClassActivity"
            android:label="@string/recyclerview_class" />
        <activity
            android:name=".Type5ListViewCustomItemDatabaseActivity"
            android:label="@string/listview_customitem_database"
            />
    </application>

</manifest>